.main-checkout {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    .checkout {
        display: flex;
        padding-top: rem(49px);
        padding-bottom: rem(49px);
        width: 100%;
        gap: rem(35px);
        flex-wrap: wrap;


        .main-content {

            flex: 2;

            >*>* {
                padding: 15px;
            }

            .billing-info {
                border: 1px solid #e4e5e7;
                border-radius: 4px;

                p {
                    color: $clr9;
                }
            }

            h4 {
                border-bottom: 1px solid #e4e5e7;
                background-color: $clr13;
                font-size: medium;
                color: $clr2;
            }

            .payment-option {
                border: 1px solid #e4e5e7;
                border-radius: 4px;
                margin-top: rem(30px);
            }

            h2 {
                color: $clr2;
                font-size: rem(16px);
                margin-top: rem(10px);
                font-weight: 100;
                // max-width: rem(150px);
            }

            input {

                border-radius: 4px;
                border: 1px solid $clr3;
                box-shadow: none;
                flex: 1 1 auto;
                padding: 10px 16px;
                font-size: 1rem;
                opacity: 0.5;
                letter-spacing: 0.5px;



                &:focus {
                    border: 2px solid $clr2;
                    outline: none;
                }

                &::-webkit-search-cancel-button {
                    display: none;
                }
            }

            .card-pay {
                border: 1px solid #e4e5e7;
                border-radius: 4px;
                padding: 24px 18px 24px 40px;



                .cardnumber {
                    max-width: rem(520px);
                    position: relative;

                    input {
                        padding-left: 60px;
                        width: 100%;
                    }

                    .img-lock {
                        position: absolute;
                        opacity: 0.5;
                        left: rem(16px);
                        top: 50%;
                        transform: translateY(-50%);
                        max-width: 11px;
                    }

                    .img-card {
                        position: absolute;
                        right: 1rem;
                        top: 50%;
                        transform: translateY(-50%);
                        max-width: 23px;
                        max-height: 22px;
                    }
                }


                .card-holder-name {

                    input {
                        min-width: 520px;
                        margin-top: rem(22px);
                    }

                    margin-bottom: rem(22px);
                }

                .saveCardCheckbox {
                    margin-right: 10px;
                }
            }

            .center {
                display: flex;
                gap: rem(28px);

                input {
                    min-width: rem(246px);
                    margin-top: rem(22px);
                }
            }
        }

        .side-content {
            flex: 1;
            border: 1px solid #e4e5e7;
            padding: rem(15px);
            border-radius: 4px;
            max-height: max-content;
            min-width: rem(400px);
            color: $clr9;
            font-weight: 100;
            font-size: rem(16px);


            header {
                margin-bottom: rem(36px);

                img {
                    max-width: rem(110px);
                }

                .title {
                    margin-left: rem(16px);
                    font-weight: 400;
                }
            }

            .order-details-general-pricing {
                margin-bottom: rem(16px);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: rem(12px);
                margin-bottom: rem(36px);
            }

            .confirm-btn {
                width: 100%;
                font-size: rem(18px);
                color: #fff;
                border-radius: 5px;
                background-color: #000;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: rem(8px);
                min-height: rem(50px);
                font-family: Macan;

            }

            .summary {
                display: flex;
                flex-direction: column;
                gap: rem(15px);

                .total {
                    font-weight: 600;
                }

                .secure-payment {
                    color: #62646a;
                    display: flex;
                    font-size: rem(14px);
                    gap: rem(8px);
                    justify-content: center;
                    line-height: rem(22px);
                    margin: 8px 0px 0px;
                    text-align: center;

                    svg {
                        max-width: rem(18px);
                        max-height: rem(18px);
                    }

                    p {
                        margin: -2px;
                    }

                    .message {
                        font-size: rem(14px);
                        padding-top: rem(16px);
                    }
                }
            }



        }
    }
}