@import "../setup/functions";

.gig-page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 5rem;
    gap: 1rem;

    .gig-layout {
        display: flex;
        gap: 7rem;
        flex-wrap: wrap;

        .gig-info-column {
            display: flex;
            flex-direction: column;
            flex: 2.5 1 rem(500px);

            .header {
                .gig-title {
                    color: #222325;
                    font-family: Macan;
                    font-size: rem(28px);
                    font-weight: 700;
                    line-height: rem(36px);
                    padding: rem(0px) rem(0px) rem(16px);
                }
            }


        }
    }
}