.gig-index {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: 2rem;

    h1 {
        font-size: rem(32px);
    }

    .filter-wrapper {
        display: flex;
        gap: rem(12px);

        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: rem(8px);

            &:hover {
                background-color: $gray5;
            }
        }
    }

    .active-filters {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .active-filter {
            background-color: $gray1;
            padding: 0.5rem;
            border-radius: 1rem;
            display: flex;
            gap: 0.5rem;
            font-size: rem(14px);
            align-items: center;
            justify-content: center;
            cursor: pointer;

            button {
                background: transparent;
                cursor: inherit;
            }
        }
    }




}