.gig-index {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: rem(32px);
    }

    .filter-wrapper {
        display: flex;
        gap: rem(12px);

        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}