.gig-index {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: rem(32px);
    }

    h2 {
        margin: 0;
        font-size: 1.3em;
    }

    button {
        margin-inline-end: 0;
    }
}