@import "../setup/functions";

.about {
    h2 {
        color: #404145;
        font-family: Macan;
        font-size: rem(20px);
        font-weight: 700;
        line-height: rem(28px);
        padding: rem(0px) rem(0px) rem(25px);
    }

    .content {
        p {
            color: #62646a;
            font-family: Macan;
            line-height: rem(24px);
            font-size: rem(16px);
        }
    }
}