@import "../setup/functions";

.about {
    color: #404145;
    font-family: Macan;

    h2 {
        font-size: rem(20px);
        font-weight: 700;
        line-height: rem(28px);
        padding: rem(0px) rem(0px) rem(25px);
    }

    .bold {
        font-weight: 600;
    }

    .header {
        margin-top: rem(18px);
        font-size: rem(18px);
    }

    .about-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-family: Macan;
        margin-left: rem(18px);

        li {
            line-height: rem(24px);
            margin-bottom: rem(15px);

            span.regular {
                margin-left: rem(15px);
            }

            span.bold {
                font-weight: 600;
            }
        }
    }

    .background {
        background-color: #ffecd1;
    }

    p.regular {
        margin: rem(5px)
    }
}