@import "../setup/functions";

.bottom-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: rem(15px);
    width: 100%;

    .price,
    .duration {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 30%;

        .txt {
            color: #222325;
            font-family: Macan;
            font-size: rem(14px);
            font-weight: 600;
            line-height: rem(22px);
            text-align: left;
        }

        .desc {
            color: #74767e;
            font-family: Macan;
            font-size: rem(12px);
            line-height: rem(18px);
            text-align: left;
        }
    }
}