.buying-info-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 70%;
        border: thin solid lightgray;

        .box-navigation {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            background-color: lightgray;

            .nav-btn {
                width: 34%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-family: Macan;
                font-weight: 700;
                line-height: 24px;
                padding: 16px;
                text-align: center;
                background-color: #fafafa;
                color: #74767e;
                border: none;
                margin: 0;
            }

            .border-right {
                border-right: solid thin lightgray;
            }

            .active {
                background-color: #fff;
                color: #222325;
                border-bottom: medium black solid;
                margin: 0;
            }
        }
    }

    .buying-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 2rem;
        width: 100%;

        .price-info {
            display: flex;
            flex-direction: row;
            align-items: baseline;

            .price {
                color: #404145;
                display: inline;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
            }

            .currency-symbol {
                font-size: 18px;
                margin-right: 5px;
            }

            .info-icon {
                width: 20px;
                margin: auto;
                margin-left: 8px;
            }
        }

        .discount-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            color: #404145;
            line-height: 24px;

            .discount {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                font-size: 16px;
                line-height: 26px;

                .discount-subscribe {
                    color: #026a5d;
                    display: inline;
                    font-weight: 600;
                    font-size: 16px;
                    margin: 0px 8px 0px 0px;
                    margin-left: 7px;
                    line-height: 26px;
                }
            }

            .question-icon {
                width: 14px;
                margin-top: 4px;
            }
        }

        .service-desc {
            color: #62646a;
            font-family: Macan;
            font-size: 16px;
            line-height: 21px;
            margin: 24px 0px 0px;

            .font-weight {
                font-weight: 550;
            }
        }

        .delivery-revisions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 60%;

            .delivery,
            .revisions {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                color: #62646a;
                font-family: Macan;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;

                img {
                    width: 20px;
                    margin-right: 3px;
                }
            }
        }

        .services-list {
            li {
                display: flex;
                align-items: center;
                line-height: 24px;
                color: #95979d;
                font-family: Macan;
                font-size: 14px;
                text-align: left;
                font-weight: 500;

                img {
                    width: 20px;
                    margin-right: 5px;
                }
            }
        }

        .btns {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 20px;

            .btn {
                width: 100%;
            }

            .continue {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                border-style: solid;
                border-width: 0.8px;
                border-radius: 4px;
                border-radius: 4px;
                background-color: #000;
                color: #fff;
                font-family: Macan;
                font-weight: 600;
                line-height: 16px;
                padding: 12px 24px;

                &:hover {
                    opacity: 0.7;
                }

                .txt {
                    text-align: center;
                    width: 100%;
                }

                .icon {
                    display: flex;
                    text-align: end;
                    align-items: flex-end;

                    img {
                        width: 20px;
                    }
                }
            }

            .compare {
                border: none;
                background-color: #fff;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                text-align: center;
                line-height: 21px;
                color: #222325;
                font-family: Macan;
                font-size: 14px;
                padding: 12px 0px 0px;
                background-color: none;
            }
        }
    }

    .btn-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        border-radius: 12px;
        color: #62646a;
        gap: 12px;
        line-height: 24px;
        margin: 25px 0px 16px;
        padding-top: 2rem;
        padding-bottom: 2rem;

        .contact {
            width: 90%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 0.8px solid #222325;
            border-radius: 8px;
            color: #222325;
            font-family: Macan;
            font-weight: 600;
            gap: 8px;
            line-height: 24px;
            padding: 8px 16px;
            background-color: #fff;
        }
    }
}