.category {

    display: flex;
    margin-top: rem(22px);
    gap: rem(12px);

    article {
        padding-inline-end: .3em;
        font-size: .875em;
        font-weight: 400;
        cursor: pointer;
        box-shadow: 0 0 8px #00000029;
        width: 9.2em;
        height: 9.2em;
        border-radius: 1em;
        padding-inline-start: .95em;

        &:hover {
            background: radial-gradient(63.44% 63.44% at 50% 50%, #c2ffe2 0, #fff 100%), #fff;

        }

        .cat-content {
            margin-top: 1.2em;
            margin-bottom: 2em;
        }


    }

    img {
        height: 1.5em;
        width: 1.5em;
    }

    .cat-img {
        margin-top: 1.2em;
        margin-bottom: 2em;

    }
}