.category-list {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: rem(22px);
    row-gap: rem(24px);
    width: 100%;

    article {
        padding-inline-end: .3em;
        font-size: rem(14px);
        font-weight: 400;
        cursor: pointer;
        box-shadow: 0 0 8px #00000029;
        max-width: 9.2em;
        height: 9.2em;
        border-radius: 1em;
        padding-inline-start: .95em;
        width: 100%;

        &:hover {
            background: radial-gradient(63.44% 63.44% at 50% 50%, #c2ffe2 0, #fff 100%), #fff;

        }

        .cat-content {
            margin-top: 1.2em;
            margin-bottom: 2em;
        }

    }

    img {
        height: 1.5em;
        width: 1.5em;
    }

    .cat-img {
        margin-top: 1.2em;
        margin-bottom: 2em;

    }

    @include for-narrow-layout {
        grid-template-columns: repeat(4, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns: repeat(9, 1fr);

    }
}