.filter-item-dropdown {
    max-width: rem(300px);
    width: 100%;

    .filter-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
}