@import "../setup/functions";

.gig-page {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .gig-layout {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        .gig-info-column {
            width: 50%;

            .header {
                .gig-title {
                    color: #222325;
                    font-family: Macan;
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 36px;
                    padding: rem(0px) rem(0px) rem(16px);
                }
            }

            .carousel.carousel-slider .control-arrow {
                background-color: #222325;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                box-shadow: rgba(0, 0, 0, 0.1490196078) 0px 2px 5px 0px;
                opacity: 1;
                top: 50%;
            }

            .carousel {
                background-color: #fff;

                .carouselle-img {
                    object-fit: contain;
                }
            }
        }
    }

    .navigations-and-actions {
        width: 90%;
        height: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .navigations {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #62646a;
            font-family: Macan;
            line-height: 24px;
            padding: 4px 0px 4px 6px;
            gap: 8px;

            .link {
                color: #222325;
                font-size: 14px;
                margin: 0.5rem;

                img {
                    width: 20px;
                }
            }

            .path-symbol {
                color: #c5c6c9;
            }
        }

        .actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            .like {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                .amount-likes {
                    font-size: 16px;
                    font-weight: 300;
                    margin-left: 5px;
                }

                .image-container {
                    position: relative;
                    display: inline-block;
                    border-radius: 50%;
                    width: 20x;
                    height: 20x;

                    img {
                        width: 20px;
                        border-radius: 50%;
                    }

                    .ripple {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        background: rgba(0, 0, 0, 0.3);
                        border-radius: 50%;
                        transform: scale(0);
                        animation: ripple-effect 0.6s linear;
                        pointer-events: none;
                    }

                    @keyframes ripple-effect {
                        to {
                            transform: scale(2);
                            opacity: 0;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}