.preview {
    display: flex;
    flex-direction: column;
    font-size: rem(16px);

    .img-wrapper,
    .gig-price {
        &:hover~.gig-title {
            text-decoration: underline;
        }
    }


    .img-wrapper {
        position: relative;
        cursor: pointer;
        border-radius: 15px;

        .gig-img {
            width: 100%;
            cursor: pointer;
            border-radius: 15px;
        }

        .like-btn {
            position: absolute;
            right: 5px;
            top: 5px;
            margin: 0;
            background-color: transparent;
            color: white;
        }

    }

    .gig-user-preview {
        display: flex;
        align-items: center;
        font-size: rem(14px);
        padding-top: rem(12px);
        gap: 0.5rem;

        .gig-user-img {
            border-radius: 50%;
            object-fit: cover;
            width: 1.75rem;
            height: 1.75rem;
        }

        .gig-user-fullname {
            font-weight: 700;
        }
    }

    .gig-title {
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }

    .gig-rating-preview {
        display: flex;
        gap: 0.125rem;
        font-weight: 700;
        padding-top: rem(8px);
        align-items: center;
        justify-content: flex-start;

        .gig-previews-count {
            font-weight: 200;
        }

        svg {
            font-size: rem(22px);
            padding: 0;
        }

        span {
            display: inline-flex;
        }

    }

    .gig-price {
        margin: 0;
        font-weight: 700;
    }

}

.preview .img-wrapper:hover~.gig-title,
.preview .gig-price:hover~.gig-title {
    text-decoration: underline;
}