.hero {
    position: relative;
    background-color: $clr8;
    color: $clr6;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 40px 20px;
    border-radius: 1em;
    height: rem(438px);
    background-image: none;
    font-size: .933rem;
    min-height: 500px;
    width: 100%;
    font-weight: 400;
    margin-top: rem(45px);

    .heading-wrapper {
        padding-top: 50px;
        text-align: center;
        z-index: 2;

        h1 {
            font-size: 3.125rem;
            margin: 0;
            align-items: center;
            font-weight: 400;
            font-size: rem(60px);

            span {
                font-family: "Domaine";
            }
        }
    }

    .box {
        background-color: white;
        border-radius: .75em;



        .hero-search {
            display: flex;
            width: 400px;
        }

    }

    h1 {
        margin-top: 1.5em;
    }

    .hero-imgs {
        position: relative;
        display: none;
        gap: 1.5em;
        align-items: center;

        img {
            opacity: 0.5;
        }

    }

    .trusted-by {
        font-size: rem(12px);
        margin: 0;
        flex: 1 0 auto;
        opacity: 0.5;
    }

    .jordan {
        display: none;

    }

    .verinica {
        display: none;
    }

    .jenny {
        display: none;
    }

    .yuli {
        display: none;
    }

    .collin {
        display: none;
    }




    @include for-normal-layout {

        .heading-wrapper {

            h1 {
                font-size: rem(50px);

            }
        }

        .collin {
            display: block;
            position: absolute;
            left: 3.745%;
            bottom: 8.416%;
            width: rem(115px);
        }

        .yuli {
            display: block;
            position: absolute;
            right: 7.86%;
            bottom: 0;
            width: rem(110px);
        }

        .jenny {
            display: block;
            position: absolute;
            left: 7.865%;
            top: 0;
            width: rem(145px);
        }

        .verinica {
            display: block;
            position: absolute;
            right: 23.595%;
            top: 0;
            width: rem(100px);
        }

        .jordan {
            display: block;
            position: absolute;
            width: rem(130px);
            right: 3.97%;
            top: 9.619%;

        }
    }

    @include for-mobile-layout {
        .heading-wrapper {
            padding: 0;

            h1 {
                font-size: rem(30px);
            }
        }
    }


    @include for-narrow-layout {
        .heading-wrapper {
            h1 {
                font-size: rem(40px);
            }
        }

        .hero-imgs {
            display: flex;
        }
    }

    @include for-wide-layout {
        .heading-wrapper {
            padding-top: 50px;

            h1 {
                font-size: rem(60px);
            }

        }
    }
}