.home-video {
    width: 100%;
    margin-top: rem(40px);

    .bigger {
        font-size: rem(40px);
        margin: 0;
        margin-bottom: rem(16px);
        color: $clr2;
    }

    p {
        color: $clr9;
    }

    video {
        margin-top: rem(40px);
        border-radius: 1rem;

    }

}