@import '../setup/functions';

.top {
    background-color: #ffe0b3;
}

.level {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: rem(4px);
    padding: rem(2px) rem(6px);
    gap: rem(4px);

    .txt {
        line-height: rem(18px);
        font-weight: 600;
        font-size: rem(14px);
        color: #421300;
        text-align: start;
    }

    .diamonds {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        img.icon {
            width: rem(15px)
        }
    }
}