.list {
    --min-column-size: 220px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    gap: .5em;

    li {

        .actions {
            justify-self: end;

            button {
                padding: .3em .5em;
            }
        }
    }

    @include for-narrow-layout {
        grid-template-columns: repeat(2, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns: repeat(3, 1fr);
    }

    @include for-mid-narrow-layout {
        grid-template-columns: repeat(4, 1fr);
    }
}