.make-it {

    .bigger {
        font-size: rem(40px);
        margin: 0;
        margin-bottom: rem(60px);
        margin-top: rem(60px);
    }

    .make-items {

        color: #62646a;
        display: grid;
        gap: rem(32px);
        grid-template-columns: rem(310.008px) rem(310.008px) rem(310.008px) rem(310.008px);
        grid-template-rows: rem(123.996px);
        line-height: rem(24px);
        margin: 0px 0px 64px;



        article {
            align-items: flex-start;
            color: #62646a;
            display: flex;
            flex-direction: column;
            gap: rem(12px);
            line-height: rem(24px);

            img {
                width: rem(64px);
                height: rem(64px);
                margin-bottom: 0.5em;
            }
        }
    }
}