.about-seller {
    h1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.mini-user {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #62646a;
    gap: 16px;
    line-height: 24px;
    padding-bottom: 15px;
    margin-bottom: 40px;

    .profile-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .profile {
            font-size: 28px;
            line-height: 36px;
            margin-right: 15px;

            .profile-img {
                border-radius: 50%;
                width: 4rem;
            }
        }

        .about-user {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 4px;
            line-height: 24px;

            .about-user-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                color: #62646a;
                gap: 12px;
                line-height: 24px;

                .about-profession {
                    color: #62646a;
                    font-family: Macan;
                    font-size: 16.5px;
                    line-height: 20px;
                    text-align: left;
                    font-weight: 500;
                }

                .user-name {
                    color: #404145;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 26px;
                    margin: 0px 8px 0px 0px;

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: #404145;
                    }
                }

                .top-rated {
                    align-items: center;
                    background-color: #ffe0b3;
                    border-radius: 4px;
                    color: #421300;
                    display: flex;
                    font-size: 14px;
                    font-weight: 600;
                    gap: 4px;
                    line-height: 18px;
                    padding: 0px 6px;
                }

                .profession {
                    color: #222325;
                    font-family: Macan;
                    font-weight: 700;
                    line-height: 24px;
                    font-size: 14px;
                }

                .reviews {
                    align-items: flex-start;
                    color: #74767e;
                    line-height: 24px;
                    margin: 0px 0px 0px 4px;
                    text-align: center;
                    font-weight: 500;
                    font-size: 16px;

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: #74767e;
                    }
                }

                .star-rating {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-right: 5px;
                    margin-left: 5px;

                    .stars {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;

                        img {
                            fill: #222325;
                            width: 20px;
                        }
                    }

                    .number {
                        color: #222325;
                        font-weight: 700;
                        line-height: 24px;
                        padding: 0px 0px 0px 4px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .contact {
        width: 20%;
        align-items: center;
        border-color: #222325;
        border-radius: 8px;
        border-style: solid;
        border-width: 0.8px;
        color: #222325;
        display: flex;
        font-family: Macan;
        font-weight: 600;
        gap: 8px;
        justify-content: center;
        line-height: 24px;
        margin: 20px 0px 0px;
        padding: 8px 16px;
        text-align: center;
        background-color: #fff;

        &:hover {
            background-color: #bababa4e;
        }
    }
}

.border-bottom {
    border-bottom: lightgray solid thin;
}