@import "../setup/functions";

.mini-user {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #62646a;
    gap: rem(16px);
    line-height: rem(24px);
    padding-bottom: rem(15px);
    margin-bottom: rem(10px);

    .profile-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        .profile {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            display: flex;
            flex-direction: row;

            .profile-img {
                border-radius: 50%;
            }
        }

        .about-user {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: rem(4px);
            line-height: rem(24px);

            .about-user-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                color: #62646a;
                gap: rem(12px);
                line-height: rem(24px);

                .about-profession {
                    color: #62646a;
                    font-family: Macan;
                    font-size: rem(16.5px);
                    line-height: rem(20px);
                    text-align: left;
                    font-weight: 500;
                }

                .user-name {
                    color: #404145;
                    font-size: rem(18px);
                    font-weight: 700;
                    line-height: rem(26px);
                    margin: rem(0px) rem(8px) rem(0px) rem(0px);

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: #404145;
                    }
                }

                .profession {
                    color: #222325;
                    font-family: Macan;
                    font-weight: 700;
                    line-height: rem(24px);
                    font-size: rem(14px);
                }

                .rating {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .reviews {
                        width: fit-content;
                        text-align: end;
                        color: #74767e;
                        font-weight: 550;
                        text-decoration: underline;
                        text-decoration-color: #74767e;
                        font-size: rem(15.5px);
                    }

                    .star-rating {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-right: rem(5px);
                        margin-left: rem(5px);

                        .stars {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;

                            img {
                                fill: #222325;
                                width: rem(20px);
                            }
                        }

                        .number {
                            color: #222325;
                            font-weight: 700;
                            line-height: rem(24px);
                            padding: rem(0px) rem(0px) rem(0px) rem(4px);
                            font-size: rem(16px);
                        }
                    }
                }
            }
        }
    }

    .contact {
        width: 20%;
        align-items: center;
        border-color: #222325;
        border-radius: rem(8px);
        border-style: solid;
        border-width: rem(0.8px);
        color: #222325;
        display: flex;
        font-family: Macan;
        font-weight: 600;
        gap: rem(8px);
        justify-content: center;
        line-height: rem(24px);
        margin: rem(20px) rem(0px) rem(0px);
        padding: rem(8px) rem(16px);
        text-align: center;
        background-color: #fff;

        &:hover {
            background-color: #bababa4e;
        }
    }
}

.border-bottom {
    border-bottom: lightgray solid thin;
}