@import '../setup/functions';

.navigations-and-actions {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(35px);
    margin-bottom: rem(35px);
}