.order-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr)) auto;
    row-gap: 0.1rem;

    .row {
        display: contents;
    }

    .cell {

        padding: 0.5rem 0.75rem;
        border-bottom: 1px solid $gray1;
        display: grid;
        justify-items: center;

        &.header {
            color: $clr12;

        }
    }
}