.preview {
    display: flex;
    flex-direction: column;

    gap: .5rem;

    .img-wrapper {
        position: relative;

        .gig-img {
            width: 100%;
            cursor: pointer;
            border-radius: 15px;
        }

        .like-btn {
            position: absolute;
            right: 5px;
            top: 5px;
            margin: 0;
            background-color: transparent;
            color: white;
        }

    }

    .gig-user-preview {
        display: flex;
        align-items: center;

        .gig-user-img {
            border-radius: 50%;
            margin-right: 0.5rem;
            object-fit: cover;
            width: 1.75rem;
            height: 1.75rem;
        }
    }

    .gig-title {
        color: black;
    }

    .gig-rating-preview {
        display: flex;
        gap: 0.125rem;
        font-weight: 700;

        .gig-previews-count {
            font-weight: 200;
        }
    }

    .gig-price {
        margin: 0;
        font-weight: 700;
    }

}