.preview {
    display: flex;
    flex-direction: column;

    gap: .25rem;

    .img-wrapper {
        position: relative;

        .gig-img {
            width: 100%;
            cursor: pointer;
        }

        .like-btn {
            position: absolute;
            right: 5px;
            top: 0;
        }
    }

    .gig-user-preview {
        display: flex;
        align-items: center;

        .gig-user-img {
            border-radius: 50%;
            margin-right: 0.5rem;
            object-fit: cover;
            width: 1.75rem;
            height: 1.75rem;
        }
    }

    .gig-title {
        color: black;
    }

    .gig-price {
        margin: 0;
    }

}