@import "../setup/functions";

.review-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: thin solid lightgrey;
    padding-bottom: 1rem;
    .profile-link {
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.8;
        }
    }

    img {
        width: 3rem;
        border-radius: 50%;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #62646a;
        justify-content: space-between;
        line-height: rem(24px);
        text-align: left;
        padding-left: rem(20px);

        .fullname-link {
            text-decoration: none;
            cursor: pointer;

            &:hover .fullname {
                color: #1dbf73;
            }
        }

        .fullname {
            color: #222325;
            font-family: Macan;
            font-weight: 550;
            font-size: rem(16px);
            transition: color 0.2s;
        }

        .location-dtl {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            color: #62646a;

            .small {
                width: rem(16px);
            }

            .location {
                color: #74767e;
                font-family: Macan;
                font-size: rem(12px);
                line-height: rem(18px);
                padding: rem(0px) rem(0px) rem(0px) rem(8px);
                text-align: left;
            }
        }
    }
}