@import "../setup/functions";

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: solid thin lightgray;
    border-radius: rem(15px);
    padding: rem(20px);
    margin-top: rem(30px);
    margin-bottom: rem(18px);

    .card-layout {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        .content {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .project-img {
            width: 10%;
            display: inline;
            object-fit: contain;
            margin-top: rem(15px);
        }
    }
}