@import "../setup/functions";

.text {
    color: #404145;
    font-family: Macan;
    line-height: rem(24px);
    text-align: left;
    font-size: rem(16px);
    font-weight: 500;

    .more {
        font-weight: 600;

        &:hover {
            text-decoration: underline;
            text-decoration-color: #404145;
        }
    }
}