.tags-header {
    font-weight: 400;
    display: flex;
    gap: rem(17px);
    border-bottom: 1px solid #e4e5e7;
    justify-content: center;


    a {
        padding: 8px 0px;
        text-decoration: none;
        color: $clr9;
        cursor: pointer;
        font-size: rem(15px);

        &:hover {
            box-shadow: inset 0 -3px #1dbf73;

        }
    }
}