.tags-header {
    background-color: $clr6;
    display: none;
    gap: 12px;
    justify-content: center;
    padding: 8px;
    font-size: small;
    color: $clr9;
    font-weight: 100;
    cursor: pointer;
    border-bottom: 1px solid #e4e5e7;

    section {
        padding: 8px 0px;

        &:hover {
            box-shadow: inset 0 -3px #1dbf73;

        }
    }
}


@include for-narrow-layout {
    .tags-header {
        display: flex;
    }
}