.tags-header {
    font-weight: 400;
    display: flex;
    justify-content: space-between;

    a {
        padding: 8px 0px;
        text-decoration: none;
        color: $clr9;
        cursor: pointer;
        max-width: 100%;

        &:hover {
            box-shadow: inset 0 -3px #1dbf73;

        }
    }
}