@import "../setup/functions";

.top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: rem(10px);
    padding-bottom: rem(10px);

    .rating {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #222325;
        font-weight: 700;
        line-height: rem(21px);
        padding: rem(0px) rem(0px) rem(0px) rem(4px);
        text-align: left;

        .stars {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            img.icon {
                width: rem(18px);
            }
        }
    }

    .gray-circle {
        width: rem(4px);
        border-radius: 50%;
        height: rem(4px);
        background-color: lightgray;
        margin-right: rem(15px);
        margin-left: rem(15px);
    }

    .date {
        color: #74767e;
        display: inline;
        font-family: Macan;
        font-size: rem(12px);
        line-height: rem(18px);
        text-align: left;
    }
}