@font-face {
    font-family: 'Macan';
    src: url('./fonts/macan/MacanPanWeb-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Macan';
    src: url('./fonts/macan/MacanPanWeb-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Macan';
    src: url('./fonts/macan/MacanPanWeb-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}