// Colors
$clr1: #1dbf73;
$clr2: #404145;
$clr3: #c5c6c9;
$clr4: #95adbe;
$clr5: #62646a;
$clr6: #fff;
$clr7: #b5b6ba;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 520px;
$narrow-breakpoint: 960px;
$normal-breakpoint: 1400px;