// Colors
$clr1: #1dbf73;
$clr2: #404145;
$clr3: #c5c6c9;
$clr4: #95adbe;
$clr5: #62646a;
$clr6: #fff;
$clr7: #b5b6ba;
$clr8: #003912;
$clr9: #62646a;
$clr10: #4d1727;
$clr11: #ff7640;
$clr12: #74767e;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;
$gray5: #f7f7f7;
$gray6: #fafafa; // Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 900px;
$mid-narrow-breakpoint: 1160px;
$normal-breakpoint: 1400px;